<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginActionServlet</servlet-name>
        <servlet-class>auth.LoginActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegActionServlet</servlet-name>
        <servlet-class>auth.UserRegActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRevoceryServlet</servlet-name>
        <servlet-class>auth.PasswordRevoceryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneStuetnMarksActionServlet</servlet-name>
        <servlet-class>studentactions.GetOneStuetnMarksActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegAction</servlet-name>
        <servlet-class>UserRegAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginActionServlet</servlet-name>
        <url-pattern>/LoginActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegActionServlet</servlet-name>
        <url-pattern>/UserRegActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRevoceryServlet</servlet-name>
        <url-pattern>/PasswordRevoceryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneStuetnMarksActionServlet</servlet-name>
        <url-pattern>/GetOneStuetnMarksActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegAction</servlet-name>
        <url-pattern>/UserRegAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
